<!DOCTYPE html>
<html>
  <head>
    <title>oauth</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>OAuth Authentication</h1>
    <a href="/auth/github">Login with Github</a>
  </body>
</html>
